{
    "presets": [
        "es2015",
        "react"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-runtime",
                "transform-es2015-classes"
            ]
        },
        "production": {
            "plugins": [
                "transform-runtime",
                "transform-es2015-classes"
            ]
        },
    }
}