# all dotfiles forbidden
.*

# except for white list
!.npmrc
!.gitignore
!.scalafmt.conf
!.eslintrc.js

dist
build
coverage
node_modules
.vscode
.metals

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# csv

*.csv
*.class
*.gradle

# Runtime data
pids
*.pid
*.seed
*.pid.lock

jspm_packages/

# Output of 'npm pack'
*.tgz
