@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800');

@font-face {
  /*Sane font-default
   ie: the one your system comes with naturally
  */
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'),
      local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', system, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  border:4px orange solid;
  font-size: 15px;
}



body {
  height: 100%;
  border: 4px red solid;
  margin: 0;
  display: grid;
  /* place-content shorthand for (align-content, justify-content)
      "align-content": distribution of space between/around content items along the cross-axis/block-axis"
      "justify-content": distibution of space between/around content along the m main Axis/inline Axis

    place-content: center;
  */

  /*
  plant-items: shorthand for (align-items, justify-items)
      "align-items": set the value of align-self for all children as a group in the cross-axis
      "justify-items": set the value of justify-self for all children as a group in the appropreate axis
          block level layout: inline axis
          absoultely positioned elements: inline axis
          table-cell layout:  ignored
          flex-box layout: ignored
          grid layout: "align items inside their grid areas in the inline axis)
    place-items: center;
  */
  place-content: center;
}

.fill-none {
  fill: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
