
/* cover the whole screen */
#bootstrap {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: #14191e;
}

/* position the card */
[data-bootstrap-inner] {
	position: absolute;
	left: 50%;
	top: 50%;
	width: fit-content;
	transform: translate(-50%, -50%);
}

/* indirect size of the card */
/* is determined by *[data-logo-container] */
/* this is determined by media queries */

.saira-extra-condensed {
	text-align: right;
	font-family: 'Saira Extra Condensed';
}

.white {
	color: white;
}

.reddish {
	color: #e3493c;
}

#btstrp-logo-label {
	width: 100%;
	position: absolute;
	bottom: 100%;
	left: 0px;		
}
