#outer-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

/* cover the whole screen */
#boot-strap-outer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: #14191e;
}

/* position the card */
#boot-strap-inner {
	position: absolute;
	left: 50%;
	top: 50%;
	width: fit-content;
	transform: translate(-50%, -50%);
}

.saira-extra-condensed {
	text-align: right;
	font-family: 'Saira Extra Condensed', sans-serif;
}

.white {
	color: white;
}

.reddish {
	color: #e3493c;
}

#btstrp-logo {
	margin: 0 auto;
}

#btstrp-logo-label {
	width: 100%;
	position: absolute;
	bottom: 100%;
	left: 0px;		
}
