/* media queries */
/* media queries */
/* media queries */
/* media queries */

@media (max-width: 359.9999px) {
	#btsrp-logo {
		width: 160px;
		height: 160px;
	}

	.saira-extra-condensed {
		font-size: 30px;
		letter-spacing: 3.94px;
	}
}

@media (min-width: 360px) and (max-width: 399.99999px) {
	[data-logo-svg] {
		width: 200px;
		height: 200px;
	}

	.saira-extra-condensed {
		font-size: 37.5px;
		letter-spacing: 4.925px;
	}
}

@media (min-width: 400px) and (max-width: 479.99999px) {
	[data-logo-svg] {
		width: 240px;
		height: 240px;
	}

	.saira-extra-condensed {
		font-size: 45px;
		letter-spacing: 5.91px;
	}
}

@media (min-width: 480px) and (max-width: 599.99999px) and (orientation: portrait) {
	[data-logo-svg] {
		width: 280px;
		height: 280px;
	}
	.saira-extra-condensed {
		font-size: 52.5px;
		letter-spacing: 6.895px;
	}
}

@media (min-width: 480px) and (max-width: 599.99999px) and (orientation: landscape) {
	[data-logo-svg] {
		width: 160px;
		height: 160px;
	}
	.saira-extra-condensed {
		font-size: 30px;
		letter-spacing: 3.94px;
	}
}

@media (min-width: 600px) and (max-width: 719.99999px) and (orientation: portrait) {
	[data-logo-svg] {
		width: 320px;
		height: 320px;
	}
	.saira-extra-condensed {
		font-size: 60px;
		letter-spacing: 7.88px;
	}
}

@media (min-width: 600px) and (max-width: 719.99999px) and (orientation: landscape) {
	[data-logo-svg] {
		width: 200px;
		height: 200px;
	}
	.saira-extra-condensed {
		font-size: 37.5px;
		letter-spacing: 4.925px;
	}
}

@media (min-width: 720px) and (max-width: 839.99999px) and (orientation: portrait) {
	[data-logo-svg] {
		width: 360px;
		height: 360px;
	}
	.saira-extra-condensed {
		font-size: 67.5px;
		letter-spacing: 8.865px;
	}
}

@media (min-width: 720px) and (max-width: 839.99999px) and (orientation: landscape) {
	[data-logo-svg] {
		width: 240px;
		height: 240px;
	}
	.saira-extra-condensed {
		font-size: 45px;
		letter-spacing: 5.91px;
	}
}

/* iphone X*/
@media (orientation: landscape) and (min-width: 720px) and (max-width: 839.99999px) and (max-height: 399.99999px) and (min-height: 360px) {
	[data-logo-svg] {
		width: 200px;
		height: 200px;
	}
	.saira-extra-condensed {
		font-size: 37.5px;
		letter-spacing: 4.925px;
	}
}

@media (min-width: 840px) and (max-width: 959.99999px) and (orientation: portrait) {
	[data-logo-svg] {
		width: 400px;
		height: 400px;
	}
	.saira-extra-condensed {
		font-size: 75px;
		letter-spacing: 9.85px;
	}
}

@media (min-width: 840px) and (max-width: 959.99999px) and (orientation: landscape) {
	[data-logo-svg] {
		width: 280px;
		height: 280px;
	}
	.saira-extra-condensed {
		font-size: 52.5px;
		letter-spacing: 6.895px;
	}
}

/* for logo only*/
@media (min-width: 960px) {
	[data-logo-svg] {
		width: 360px;
		height: 360px;
	}
	.saira-extra-condensed {
		font-size: 67.5px;
		letter-spacing: 8.865px;
	}
}

@media (min-width: 960px) and (max-width: 1023.99999px) {
}

@media (min-width: 1024px) and (max-width: 1279.99999px) {
}

@media (min-width: 1280px) and (max-width: 1439.99999px) {
}

@media (min-width: 1440px) and (max-width: 1599.99999px) {
}

@media (min-width: 1600px) and (max-width: 1919.99999px) {
}

@media (min-width: 1920px) {
}
